@media (min-width: 1300px){
    body{
        width: 1300px;
        margin: auto;
}
}

html {
    background-color: #1D2126;
    height: 100%;
}

header{
    display: flex;
    background-color: #A63740 ;
    color: white;
    height: 40px;
    align-items: center ;
    }

.title1{
    flex: 1;
    text-align: center;
}


main{
    background: url(./img/handmaids_main-1280x720-1.jpg), linear-gradient(0.25turn, #A63740, black 50%);
    background-size: contain;
    background-position:right;
    background-repeat: no-repeat;
    height: 500px;   
    display: flex;  
    flex-direction: row;
    justify-content: start;       
}

#tv{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
}

#tv>li:first-child {
    list-style: none;
    margin-left: 0px;
    /* Plutot list-style-type pour un li, le list-style est prévu pour le ul => https://developer.mozilla.org/fr/docs/Web/CSS/list-style-type */
  }

#tv>li{
    padding-right: 20px ;
    margin-left: 10px;
    
}

#left{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: white;
    margin-left: 20px;
    margin-bottom: 60px;
}

i{
    color: white;
    height: 1em;
    margin-left: 10px;
    margin-right: 10px;
}

.nav_foot{
    display: flex;
    flex-direction: row;
    justify-content:left;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-left: 0px;
    
}

.nav_foot>li{
    margin-right: 20px;
       
   }

.nav_foot>li:hover {
    border-bottom: 3px solid white;
    margin-bottom: -3px;
       
      }

figure{
    margin: 0px;
    padding: 0px;
}

footer{
    display: flex;
    background-color: #1D2126;
    color: white;
    flex-direction: column;
    }


.imgslide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    
}


/* couleurs ------  
    #21252A
    #9B3235 */
